server {
    listen ${PORT};
    listen [::]:${PORT};
    server_name _;
    absolute_redirect off;
    port_in_redirect off;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~* \.json$ {
        add_header Cache-Control "no-cache";
    }

    location ^~ /ai-news/raw/ {
        add_header Cache-Control "no-cache";
    }
}
